.DS_Store
.idea/
.vscode/
*.iml
*.log

AppMovil/.dart_tool/
AppMovil/.packages
AppMovil/.pub-cache/
AppMovil/.pub/
AppMovil/build/
AppMovil/android/app/build/
AppMovil/android/.gradle/
AppMovil/android/local.properties
AppMovil/ios/.symlinks/
AppMovil/ios/Pods/
AppMovil/ios/Flutter/Generated.xcconfig
AppMovil/ios/Flutter/flutter_export_environment.sh

AppArduino/build/
AppArduino/libraries/

ApiServer/node_modules/
ApiServer/.env